<section>
	<div layout="column">
		<div layout="column" layout-align="center center">
			<h1>Live Pricing <span class="unbold">/ ComEd</span></h1>
			<md-select class="pricing-date-select" ng-model="date">
				<md-select-label>{{date | momentToDate}}</md-select-label>
				<md-option ng-repeat="dateOption in dateOptions" ng-value="dateOption">{{dateOption | momentToDate}}</md-option>
			</md-select>
		</div>
	</div>
	<div layout="row" layout-align="center">
		<div flex="80" class="electricity-chart-container">
			<canvas id="line" class="chart chart-line" data="chartData"
			labels="labels" legend="true" series="series">
		</canvas>
	</div>
</section>
