<section>
	<div layout="column" layout-align="center center">
		<div layout="column" class="hero-main md-primary">
			<h1>5 Minutes for a Better Future</h1>
			<span>
				That's all it takes to optimize your charge schedule, minimize your impact to the grid, and save emissions, time, and money...
			</span>
			<p>
				Every night thousands of electric vehicle drivers plug in when they get home.  Without a proper planning schedule, they could be subject to price spikes of up to 400%!  We've built a tool that helps you avoid those nasty spikes and minimize the environmental impact of your vehicle :)
			</p>
		</div>git
	</div>
</section>
