<md-dialog class="standard-dialog sign-in-dialog" aria-label="register-dialog">
	<md-subheader class="md-sticky-no-effect">Sign In</md-subheader>
	<md-content class="sticky-container">
		<div class="dialog-content">
			<div layout="column" layout-align="center center">
				<h2>Sign In</h2>
				<h4 class="unbold">welcome back</h4>
				<form ng-submit="dialogSignIn()" novalidate class="sign-in-form">
					<div layout-sm="column" layout-gt-sm="row" layout-align-sm="center center" layout-align-gt-sm="space-around">
						<md-input-container>
						  <label>Email Address</label>
						  <input type="text" ng-model="credentials.email">
						</md-input-container>
						<md-input-container>
						  <label>Password</label>
						  <input type="password" ng-model="credentials.password">
						</md-input-container>
					</div>
					<!-- submit on 'enter' -->
					<input type="submit" style="position: absolute; left: -9999px"/>
				</form>
			</div>
			<p ng-show="error" class="text-center dialog-form-error">Unable to sign in: {{error}}</p>
		</div>
	</md-content>
	<div class="md-actions" layout="row">
		<md-button ng-click="dialogCancel()">Cancel</md-button>
		<md-button class="md-raised md-primary" ng-click="dialogSignIn()">Sign In</md-button>
	</div>
</md-dialog>
