/* Register Dialog */
.register-dialog h4 {
  margin-top: 4px;
  color: #616161;
  color: rgba(0, 0, 0, 0.54); }
.register-dialog md-content {
  height: 280px; }
.register-dialog .register-form {
  margin-top: 8px; }
.register-dialog md-input-container {
  width: 260px;
  padding: 12px 14px; }

/* Sign In Dialog */
.sign-in-dialog h4 {
  margin-top: 4px;
  color: #616161;
  color: rgba(0, 0, 0, 0.54); }
.sign-in-dialog md-content {
  height: 200px; }
.sign-in-dialog .sign-in-form {
  margin-top: 8px; }
.sign-in-dialog md-input-container {
  width: 260px;
  padding: 12px 14px; }
