/* Register Dialog */
.register-dialog h4 {
  margin-top: 4px;
  color: #616161;
  color: rgba(0, 0, 0, 0.54); }
.register-dialog md-content {
  height: 280px; }
.register-dialog .register-form {
  margin-top: 8px; }
.register-dialog md-input-container {
  width: 260px;
  padding: 12px 14px; }

@media (max-width: 600px) {
  .register-dialog {
    height: 455px; }
    .register-dialog .sticky-container {
      padding-top: 0; }
    .register-dialog form {
      margin-top: 0 !important; }
    .register-dialog md-content {
      height: 344px; }
    .register-dialog md-input-container {
      padding-top: 0;
      padding-bottom: 2px;
      width: 115%; } }

/* Sign In Dialog */
.sign-in-dialog h4 {
  margin-top: 4px;
  color: #616161;
  color: rgba(0, 0, 0, 0.54); }
.sign-in-dialog md-content {
  height: 206px; }
.sign-in-dialog .sign-in-form {
  margin-top: 8px; }
.sign-in-dialog md-input-container {
  width: 260px;
  padding: 12px 14px; }

@media (max-width: 600px) {
  .sign-in-dialog {
    height: 455px; }
    .sign-in-dialog md-content {
      height: 344px; }
    .sign-in-dialog md-input-container {
      padding-top: 0;
      padding-bottom: 2px;
      width: 115%; } }
