/* sass-material-colors */
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/* GENERAL */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 79; }

md-toast {
  position: fixed; }

.unbold {
  font-weight: normal; }

.center {
  text-align: center; }

.content {
  padding-top: 136px; }

.text-center {
  text-align: center; }

.fade {
  transition: .5s linear all;
  opacity: 1; }

.fade.ng-hide {
  opacity: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.subheader {
  margin-top: 8px; }

.light-gray {
  color: #616161;
  color: rgba(0, 0, 0, 0.54); }

.gap {
  width: 24px; }

md-select {
  margin-top: 12px;
  margin-bottom: 12px; }

@media (max-width: 600px) {
  .content {
    margin-left: 20px;
    margin-right: 20px; }
  h1 {
    font-size: 1.6em; } }

/* APP SPECIFIC */
.hero-main {
  margin-top: 36px;
  margin-right: 40px;
  margin-left: 40px;
  max-width: 800px; }
  .hero-main h1 {
    font-size: 3.2em;
    margin-bottom: 18px; }
  .hero-main span {
    font-size: 1.6em;
    color: #616161;
    color: rgba(0, 0, 0, 0.54); }
  .hero-main p {
    margin-bottom: 0; }
  .hero-main .hero-buttons {
    margin-top: 40px; }
    .hero-main .hero-buttons button {
      padding: 12px; }
    .hero-main .hero-buttons span {
      font-size: 18px; }

.md-paginator md-icon {
  color: #f4ff81 !important; }

@media (max-width: 600px) {
  .hero-main {
    margin-top: 24px;
    margin-right: 0;
    margin-left: 0;
    text-align: center; }
    .hero-main h1 {
      font-size: 2.2em; }
    .hero-main span {
      font-size: 1.2em; }
    .hero-main .hero-buttons {
      margin-top: 22px;
      margin-bottom: 48px; } }

.pink {
  background-color: #ec407a !important; }

md-toast {
  background-color: #ec407a !important; }

/* HEADER */
@media (max-width: 600px) {
  .md-toolbar-tools a {
    font-size: 16px; }
  .md-toolbar-tools .authentication-buttons {
    padding-bottom: 3px; }
    .md-toolbar-tools .authentication-buttons * {
      font-size: 14px;
      padding: 3px; }
    .md-toolbar-tools .authentication-buttons span {
      padding: 0; } }

/* STANDARD DIALOG */
.standard-dialog {
  width: 600px; }
  .standard-dialog h2 {
    text-align: center; }
  .standard-dialog md-content {
    margin-top: 12px;
    padding-bottom: 0; }
  .standard-dialog .md-subheader {
    background-color: #d4e157;
    margin: 0; }
  .standard-dialog .dialog-form-error {
    margin-top: 16px;
    margin-bottom: 0;
    color: #f44336; }

@media (max-width: 600px) {
  .dialog-form-error {
    font-size: 14px;
    line-height: 18px; } }
