/* sass-material-colors */
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/* GENERAL */
.unbold {
  font-weight: normal; }

.content {
  margin-top: 50px; }

.text-center {
  text-align: center; }

.fade {
  transition: .5s linear all;
  opacity: 1; }

.fade.ng-hide {
  opacity: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.subheader {
  margin-top: 8px; }

.light-gray {
  color: #616161;
  color: rgba(0, 0, 0, 0.54); }

.gap {
  width: 24px; }

md-select {
  margin-top: 12px;
  margin-bottom: 12px; }

/* APP SPECIFIC */
.hero-main {
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
  max-width: 800px; }
  .hero-main h1 {
    font-size: 3.2em;
    margin-bottom: 20px; }
  .hero-main span {
    font-size: 1.6em;
    color: #616161;
    color: rgba(0, 0, 0, 0.54); }
  .hero-main .hero-buttons {
    margin-top: 40px; }
    .hero-main .hero-buttons button {
      padding: 12px; }
    .hero-main .hero-buttons span {
      font-size: 18px; }

.pink {
  background-color: #ec407a !important; }

md-toast {
  background-color: #ec407a !important; }

/* STANDARD DIALOG */
.standard-dialog {
  width: 600px; }
  .standard-dialog md-content {
    margin-top: 12px;
    padding-bottom: 0; }
  .standard-dialog .md-subheader {
    background-color: #d4e157;
    margin: 0; }
  .standard-dialog .dialog-form-error {
    margin-top: 16px;
    margin-bottom: 0;
    color: #f44336; }

/* History Page */
.history-filter {
  width: 100%;
  padding: 0 20px; }

.history-toolbar-header {
  margin-top: 12px;
  background-color: #4dd0e1 !important;
  min-height: 48px;
  height: 48px; }

.history-list {
  list-style-type: none;
  margin-top: 12px;
  padding: 0;
  width: 100%; }
  .history-list .history-list-entry {
    padding: 12px 16px 12px 15px;
    cursor: pointer; }
    .history-list .history-list-entry .history-list-entry-target-container {
      width: 48px; }
  .history-list .history-list-entry:hover {
    background-color: #f0f4c3; }
